.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: #D7DDF1;
}

.QuizList h1 {
    color: #5D5D62;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuizList li {
    margin-bottom: 10px;
}

.QuizList li a {
    text-decoration: none;
    color: #5D5D62;
}

.QuizList li a:hover {
    color: #363f54;
}